*/.*
~*
*/~*

*/build 
*/dist
*.egg-info
./nohup.out

*.sh
*/.sh
 
*.pyc
*/*.pyc

*.zip
  
**/__pycache__

/crnn_for_text_with_multiple_lines/*.bin
/crnn_for_text_with_multiple_lines/*.onnx

/crnn_for_image_recognition/*.bin
/crnn_for_image_recognition/*.onnx

/ChatCRNN/*.bin
/ChatCRNN/*.onnx

**/_imgs


